<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
</head>
<body>
    <div class="container_forms">
        <div class="forms">
            <h1 class="title_forms">Crear cuenta</h1>
            <form action="/register" method="post">
                <input type="text" placeholder="DNI" name="DNI" name="DNI">
                <input type="text" placeholder="nombre de usuario" name="username">
                <input type="password" name="password" placeholder="password">
                <input type="text" placeholder="Lugar de residencia" name="residencia">
                <input type="text" placeholder="telefono propio" name="tpropio">
                <input type="text" placeholder="telefono de un familiar" name="tfamiliar">
                <button type="submit" class="button_forms">registrarse</button>
                <a href="/">cancel</a>
            </form>
        </div>
    </div>
</body>
</html>